### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 

* Purchase analysis shows that females purchased significantly more than males and the non-disclosed gender.

* Significantly larger proportions (44.8%)was made up of 20-25 year olds, followed by 15-19 year olds (18.58%).

* Top spenders spent between 13$ - 19$ on games. Oathbreaker, Last Hope of Breaking Storm was the most popular one, which was purchased 12 times and made a revenue of $50.76.  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change Thes
File = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(File)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#Player Count

Players = len(purchase_data['SN'].value_counts(dropna = True))

In [3]:
Player_count = pd.DataFrame({"Total players": [Players]
                             })
Player_count

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Purchase analysis
Number_of_Unique_Items = purchase_data['Item ID'].nunique(dropna = True)

Average_price = round(purchase_data['Price'].mean(), 2)

Number_of_purchase = purchase_data['Purchase ID'].count()

Total_Revenue = purchase_data['Price'].sum()

In [5]:
Purchase_Analysis = pd.DataFrame({
    "Number of Unique Items": [Number_of_Unique_Items],
    "Average Price" : [Average_price],
    "Number of Purchases" : [Number_of_purchase],
    "Total Revenue" : [Total_Revenue]
})
Purchase_Analysis   
Purchase_Analysis.style.format({"Average Price":"${:,.2f}",
                      "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Gender Demographics
Male = purchase_data[purchase_data['Gender'] == 'Male']
Male
Unique_Male = Male['SN'].nunique(dropna = True)
Unique_Male
Female = purchase_data[purchase_data['Gender'] == 'Female']
Female
Unique_Female = Female['SN'].nunique(dropna = True)
Unique_Female
Other = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
Other
Unique_Other = Other['SN'].nunique(dropna = True)
Unique_Other
Total_players = purchase_data['SN'].nunique()
Total_players
PercentMale =  (Unique_Male / Total_players) * 100
PercentMale
PercentFemale = (Unique_Female / Total_players) * 100
PercentFemale
PercentOther =  (Unique_Other / Total_players) * 100
PercentOther

1.9097222222222223

In [7]:
Gender_Demo = pd.DataFrame({
    "": ['Male', 'Female', 'Other / Non-Disclosed'],
    "Total Count": [Unique_Male, Unique_Female, Unique_Other],
    "Percentage of Players" : [PercentMale, PercentFemale, PercentOther] 
})
columns = ["","Total Count", "Percentage of Players" ]
Gender_Demo

Gender_Demographics = Gender_Demo.set_index("")
Final = Gender_Demographics.style.format({"Percentage of Players":"{:,.2f}%"})
Final


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Purchase Analysis by Gender

Male_Purchase = len(Male)
Total_Male_Purchase = Male['Price'].sum()
Av_per_Male = Total_Male_Purchase / Male_Purchase

Female_Purchase = len(Female)
Total_Female_Purchase =  Female['Price'].sum()
Av_per_Female = Total_Female_Purchase / Female_Purchase

Other_Purchase = len(Other)
Total_Other_Purchase = Other['Price'].sum()
Av_per_Other = Total_Other_Purchase/Other_Purchase

Male_Tot_Pur_Person = Total_Male_Purchase / Unique_Male
Female_Tot_Pur_Person = Total_Female_Purchase / Unique_Female
Other_Tot_Pur_Person = Total_Other_Purchase / Unique_Other

In [9]:
Purchase_by_Gender = pd.DataFrame({
    "Gender": ['Female', 'Male', 'Other / Non-Disclosed'],
    "Purchase Count": [Male_Purchase, Female_Purchase, Other_Purchase],
    "Average Purchase Price" : [Av_per_Male, Av_per_Female, Av_per_Other],
    "Total Purchase Price": [Total_Male_Purchase, Total_Female_Purchase, Total_Other_Purchase],
    "Avg Total Purchase Per Person" : [Male_Tot_Pur_Person,Female_Tot_Pur_Person, Other_Tot_Pur_Person]
    
    
})
columns = ["Gender","Purchase Count","Average Purchase Price", "Total Purchase Price", "Avg Total Purchase Per Person" ]
Purchase_by_Gender
Purchase_by_Gender_modified = Purchase_by_Gender.set_index("Gender")
Purchase_by_Gender_modified

Purchase_by_Gender_modified.style.format({"Average Purchase Price":"${:,.2f}",
                      "Total Purchase Price":"${:,.2f}",
                "Avg Total Purchase Per Person":"${:,.2f}" })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
#Create bins in which values are based upon Age (with a set of 4 years) 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Create labels for these bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"] # important point: bin labels must be one less(8) than bins(9).

# Slice the data and place it into bins
purchase_data['Age_bin'] = pd.cut(purchase_data["Age"], bins, labels=Age_labels)
purchase_data['Age_bin']

# Display Age_bin
Ages =  purchase_data.groupby(['Age_bin'])

Age_Stats = Ages['SN'].nunique(dropna = True)
Age_Stats

Full_count = Total_players
Age_Percent = (Age_Stats/Total_players) * 100
Age_Percent

Age_Demo = pd.DataFrame({"Total Count": Age_Stats,
                         "Percentage of Players" :Age_Percent})
Age_Demo.index.name = None
Age_Demo
Age_Demo.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Create bins in which values are based upon Age (with a set of 4 years) 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Create labels for these bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"] # important point: bin labels must be one less(8) than bins(9).

# Slice the data and place it into bins
purchase_data['Age_bin'] = pd.cut(purchase_data['Age'], bins, labels=Age_labels)
purchase_data['Age_bin']

# Display Age_bin
Ages = purchase_data.groupby(['Age_bin'])

# Calculate purchase count
Purchase_count = Ages['Price'].count()

# avg. purchase price, avg. purchase total per person
Av_purchase_price = Ages['Price'].mean()

# Total purchase value / age group
Total_purchase_per_age = Ages['Price'].sum()

#Av_Total_purchase_per _person ???????????
Av_Total_purchase_per_person = Total_purchase_per_age / Age_Stats

PurchaseByAge = pd.DataFrame({"Purchase Count": Purchase_count,
                         "Average Purchase Price" : Av_purchase_price,
                         "Total Purchase Value" : Total_purchase_per_age,
                         "Avg Total Purchase Per Person" : Av_Total_purchase_per_person 
})
PurchaseByAge
PurchaseByAge.index.name = None
PurchaseByAge.style.format({"Average Purchase Price": "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}",
                           "Avg Total Purchase Per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#Total_purchase_value
spenders = purchase_data.groupby('SN')
spenders
pc = spenders['Price'].sum()
pc
Total_purchase_value = pc.sort_values(ascending = False)
Total_purchase_value.head()

#Purchase count
spenders = purchase_data.groupby('SN')
spenders
Count = spenders['Item ID'].count()
Count
pc1 = pc.sort_values(ascending = False)
pc1.head()
# Average purchase price
spenders = purchase_data.groupby('SN')
spenders

Average = spenders['Price'].mean()
Average

Av_Top_spenders = Average.sort_values(ascending = False)
Av_Top_spenders.head()

Spenders = pd.DataFrame({"Purchase Count": Count,
                         "Average Purchase Price" : Average,
                         "Total Purchase Value" : pc
})
Spenders 
Spenders
Sorted_spenders= Spenders.sort_values(['Total Purchase Value'], ascending = False).head()
Sorted_spenders
FinalTopSpenders = Sorted_spenders.style.format({
   "Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})
FinalTopSpenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
Popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
Popular_items
Grouped = purchase_data.groupby(['Item ID','Item Name'])
Purchase_count = Grouped['Price'].count()
Purchase_count
Total_Purchase_value = Grouped['Price'].sum()
Total_Purchase_value
Item_price = Total_Purchase_value / Purchase_count
Item_price

Changed_order = Purchase_count.sort_values(ascending = False)
Changed_order


Final_popular_items = pd.DataFrame({"Purchase Count" : Purchase_count,
    "Item Price" : Item_price,
    "Total Purchase Value" : Total_Purchase_value})

All_popular_items = Final_popular_items.sort_values(["Purchase Count"], ascending=False).head()
All_popular_items
All_popular_items.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
Final_popular_items = pd.DataFrame({"Purchase Count" : Purchase_count,
    "Item Price" : Item_price,
    "Total Purchase Value" : Total_Purchase_value})

All_popular_items = Final_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
All_popular_items

formatted_All_popular_items= All_popular_items.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value": "${:,.2f}"})
formatted_All_popular_items